---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/googl.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - "\"90b2cf0e9a8077ef777547211e71a8a4\""
    body:
      encoding: UTF-8
      string: "{\"name\":\"googl\",\"downloads\":40427,\"version\":\"0.6.3\",\"version_downloads\":8602,\"platform\":\"ruby\",\"authors\":\"Jesus
        Lopes\",\"info\":\"Small library for Google URL Shortener API\",\"licenses\":[\"MIT\"],\"project_uri\":\"http://rubygems.org/gems/googl\",\"gem_uri\":\"http://rubygems.org/gems/googl-0.6.3.gem\",\"homepage_uri\":\"http://github.com/zigotto/googl\",\"wiki_uri\":\"\",\"documentation_uri\":\"\",\"mailing_list_uri\":\"\",\"source_code_uri\":\"https://github.com/zigotto/googl\",\"bug_tracker_uri\":\"https://github.com/zigotto/googl/issues\",\"dependencies\":{\"development\":[{\"name\":\"bundler\",\"requirements\":\"~>
        1.2.3\"},{\"name\":\"jeweler\",\"requirements\":\"~> 1.8.3\"},{\"name\":\"rcov\",\"requirements\":\">=
        0\"},{\"name\":\"rspec\",\"requirements\":\"~> 2.10.0\"},{\"name\":\"webmock\",\"requirements\":\"~>
        1.8.6\"}],\"runtime\":[{\"name\":\"httparty\",\"requirements\":\"~> 0.10.0\"},{\"name\":\"json\",\"requirements\":\">=
        1.4.6\"}]}}"
  recorded_at: Thu, 07 Aug 2014 01:37:17 GMT
recorded_with: VCR 2.9.2
